/* Write your CSS here */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto';
}
.bg-container {
  height: 100vh;
  background-color: #ffffff;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vw;
  background-size: cover;
  border-radius: 10px;
}
.heading {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: center;
}
.dark-heading {
  color: #ffffff;
}
.light-mode-con {
  background-color: #ffffff;
  border: 2px solid #000000;
}
.dark-mode-con {
  background-color: #000000;
}
.button {
  height: 40px;
  width: 140px;
  border-radius: 10px;
}
@media screen and (max-width: 576px) {
  .heading {
    font-size: 30px;
  }
  .button {
    height: 32px;
    width: 80px;
    font-size: 12px;
  }
}
